
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    ports: ["2181:2181"]
    environment:
        ZOOKEEPER_CLIENT_PORT: 2181
        ZOOKEEPER_TICK_TIME: 2000
    healthcheck:
        test: ['CMD', 'bash', '-c', "echo 'ruok' | nc localhost 2181"]
        interval: 10s
        timeout: 5s
        retries: 5
    networks:
        - confluent

  broker:
    container_name: broker  
    image: confluentinc/cp-kafka:7.0.1
    depends_on:
      zookeeper:
        condition: service_healthy
    ports: ["9092:9092"]
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      # KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      # KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_DELETE_TOPIC_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_SCHEMA_REGISTRY_URL: http://schema-registry:18081
    networks:
      - confluent
    healthcheck:
      test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server=broker:29092" ]
      interval: 10s
      timeout: 5s
      retries: 5

  schema-registry:
    image: confluentinc/cp-schema-registry:7.4.0
    hostname: schema-registry
    container_name: schema-registry
    depends_on:
      broker:
        condition: service_healthy
    ports:
      - "18081:18081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'broker:9092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:18081
    networks:
      - confluent
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:18081/" ]
      interval: 30s
      timeout: 10s
      retries: 5
  
#   control-center:
#     image: confluentinc/cp-enterprise-control-center:7.4.0
#     hostname: control-center
#     container_name: control-center
#     depends_on:
#       broker:
#         condition: service_healthy
#       schema-registry:
#         condition: service_healthy
#     ports:
#       - "9021:9021"
#     environment:
#       CONTROL_CENTER_BOOTSTRAP_SERVERS: 'broker:9092'
#       CONTROL_CENTER_SCHEMA_REGISTRY_URL: "http://schema-registry:8081"
#       CONTROL_CENTER_REPLICATION_FACTOR: 1
#       CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
#       CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
#       CONFLUENT_METRICS_TOPIC_REPLICATION: 1
#       CONFLUENT_METRICS_ENABLE: 'false'
#       PORT: 9021
#     networks:
#       - confluent
#     healthcheck:
#       test: [ "CMD", "curl", "-f", "http://localhost:9021/health" ]
#       interval: 30s
#       timeout: 10s
#       retries: 5

  kafka-ui:
    container_name: kafka-ui  
    image: provectuslabs/kafka-ui:latest
    depends_on: 
     - broker
     - zookeeper
    ports: ["8080:8080"]
    networks:
      - confluent
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: broker:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://schema-registry:18081

  minio:
    container_name: minio
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio-data:/data
    ports: ["9000:9000", "9001:9001"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: unless-stopped

  minio-mc:
    image: minio/mc:latest
    depends_on: 
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      sleep 3;
      mc config host add local http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD};
      mc mb -p local/${MINIO_BUCKET_RAW} || true;
      mc mb -p local/${MINIO_BUCKET_STAGING} || true;
      mc mb -p local/${MINIO_BUCKET_CURATED} || true;
      mc mb -p local/mlflow || true;
      tail -f /dev/null
      "
    
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ./warehouse/schema.sql:/docker-entrypoint-initdb.d/01_schema.sql:ro
      - ./warehouse/mlflow_db.sql:/docker-entrypoint-initdb.d/02_mlflow.sql:ro
    ports: ["5432:5432"]

  pgadmin:
    image: dpage/pgadmin4:8
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on: [postgres]
    ports: ["5050:80"]

  airflow-init:
    image: apache/airflow:2.9.2
    entrypoint: /bin/bash
    command: -c "airflow db init && airflow users create --username admin --firstname a --lastname b --role Admin --email admin@local --password admin"
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW_UID: ${AIRFLOW_UID}
    volumes:
      - ./etl/dags:/opt/airflow/dags
      - airflow-logs:/opt/airflow/logs

  airflow-webserver:
    image: apache/airflow:2.9.2
    depends_on: [airflow-init, broker, minio, postgres]
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__FERNET_KEY: "a_very_secret_key"
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "false"
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "true"
    volumes:
      - ./etl/dags:/opt/airflow/dags
      - airflow-logs:/opt/airflow/logs
    ports: ["8081:8080"]
    command: webserver

  airflow-scheduler:
    image: apache/airflow:2.9.2
    depends_on: [airflow-init]
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
    volumes:
      - ./etl/dags:/opt/airflow/dags
      - airflow-logs:/opt/airflow/logs
    command: scheduler

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.15.1
    depends_on: [postgres, minio]
    environment:
      MLFLOW_BACKEND_STORE_URI: ${MLFLOW_BACKEND_URI}
      AWS_ACCESS_KEY_ID: ${MINIO_ROOT_USER}
      AWS_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD}
      MLFLOW_S3_ENDPOINT_URL: ${MLFLOW_S3_ENDPOINT_URL}
    command: >
      mlflow server
      --backend-store-uri ${MLFLOW_BACKEND_URI}
      --default-artifact-root s3://mlflow/
      --host 0.0.0.0 --port 5000
    ports: ["5000:5000"]

volumes:
  minio-data:
  pg-data:
  airflow-logs:

networks:
  confluent:
    driver: bridge